<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" th:href="@{/styles/tarjeta_producto_styles.css}">
    <link rel="stylesheet" th:href="@{/styles/body_ventas_styles.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" integrity="...">
    <!-- Load Fontawesome -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    
    <title>Document</title>
</head>

<body>

   <div th:include="plantilla.html::header"></div>

    <main class="body_modificar_producto">
		<section class="tarjeta_modificar_producto">
			<form th:action="@{/modificarProducto}" th:object="${atr_producto_seleccionado}" method="post">
				<div>
					<label for="id" hiden>Id</label>
					<input type="text" th:field="*{id}" name="nombre" hiden>
				</div>
				<div>
					<label for="nombre">Nombre</label>
					<input type="text" th:field="*{nombre}" name="nombre">
				</div>
				<div>
					<label for="precio">Precio</label>
					<input type="text" th:field="*{precio}" name="precio">
				</div>
				<div>
					<label for="IVA">IVA</label>
					<select name="IVA" th:field="*{IVA}">
						<option value=4>4 %</option>
						<option value=10>10 %</option>
						<option value=21>21 %</option>
					</select>
				</div>
				<div>
					<label for="foto" hidden>Foto</label>
					<input type="text" th:field="*{foto}" name="foto" hidden>
				</div>
				<div>
					<input class="boton_modificar_producto" type="submit" value="Modificar producto">
				</div>
				</form>
		</section>
    </main>

	<div th:include="plantilla.html::footer"></div>


</body>

</html>